<p id="notice"><%= notice %></p>

<%= render 'article', obj: @articles %>
<div align="center">
  <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>

