  <div align="center">
    <h1>Editing User <%= @user.username.capitalize %></h1>
  </div>
  <div class="row">
    <div class="col-md-12 col-md-offset-2">
        <div align = "center">
           <%= gravatar_for @user, size:70 %>
        </div>
     </div>
  </div>
  </br>
<%= render 'form', user: @user %>
