@import "bootstrap";

$navbar-default-bg: #80808A;
body{
  margin: 0px;
  background-color:red;
}
.align_left{
  
}
#logo {
  float: left;
  font-size: 1.7em;
  color: gray;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold; 
}
#logo:hover{
  
  color: #fff;
  text_decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('praia.png');
  background-size: cover;
}

.navbar .navbar-default{
  background-image: url("assets/images/praia.png");
  background: url('assets/images/praia.png');
  background-size: cover;
}