
@import "bootstrap";
@import "font-awesome";

$navbar-default-bg: #80808A;
body{
  margin: 0px;
}

.about-page {
  width: 500px;
  height: 300px;
}

.article-item {
  margin-right: auto;
  margin-left: auto;
  width: 460px;
  height: 200px;
}

.owner-card{
  float: right;
  margin-left:auto;
  position:relative;
  right:10px;
}

.show-item-title{
  float: right;
  margin-left:auto;
  position:relative;
  left: 40px;
}

.show-item {
  margin-top: -100px;
}
#filtersubmit {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: gray;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}


#logo:hover{

  background-color: lightgray;
  text_decoration: none;
}

.center {
  text-align: center;
}

.navbar li a:hover {
  background-color: lightgray;
}

.jumbotron {
  background-image: asset-url('praia.png');
  background-size: cover;
  height: 350px
}

.no_border {
  border: none;
  background-color: bg-light;;
}

.search {
  font-size: 10px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom:30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color:black;
}

footer {
  margin-top:45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: lightgray;
}

footer small {
  float:left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
.navbar .navbar-default{
background: transparent;
}
